<!DOCTYPE HTML>
<html>
	<!-- Header -->
	{{>head}}
	<body>
	    <!-- Header -->
	    {{>header}}
	    <!-- Nav -->
	    {{>navbar}}
	    <!-- Error 404 -->
        <section id="five" class="wrapper post bg-img" data-bg="banner7.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>La paguina que buscas en {{name}}</h2>
							<br>
							<h1> No se encontro.</h1>
							<hr>
						</header>
						<footer>
							<a href="/" class="button alt">HOME</a>
						</footer>
					</article>
				</div>
			</section>
		<!-- Footer -->
		{{>footer}}
	</body>
</html>